.liex-pager {
	&.ivu-page {
		margin-top : 10px;
	}
}
.liex-modal-delete {
	.ivu-modal {
		background-color : #ffffff;
		box-shadow       : 0 0 20px 0 rgba(0, 0, 0, 0.2);
		.ivu-modal-footer {
			border-top : 0;
			display    : none;
		}
		.ivu-form {
			.btn-group {
				text-align : center;
				margin     : 8px 0;
				textarea {
					resize : none;
				}
				textarea.ivu-input {
					width : 80%;
				}
				.cancel-btn {
					min-width : 80px;
				}
				.ivu-btn-ghost {
					margin-right : 10px;
				}
			}
		}
	}
}
.ivu-table-row.liex-row-disable {
	color : #c3c3c3;
}