@charset "utf-8";
@import "../../variables";
/**
 * 变量
 * @author : Mark
 */
/* reset lemon style [(Mark Zhao) 2014/11/22]
------------------------------------------------------ */
$link-color : #007fca;
$link-hover-color : #ff6600;
$font-color : #555555;

/* color [(Mark Zhao) 2014/11/21]
------------------------------------------------------ */
// title
$color-title : #0099cc;
// error
$error-color : red;
$error-border-color : #ff3300;
$error-bg-color : #fff0f0;

// success
$success-color : #2f3330;
$success-border-color : #3da55a;
$success-bg-color : #8cd9a1;

// input
$input-color : #555555;
$input-hover-color : #33464f;
$input-border-color : #abadb3 #e2e3ea #e2e3ea #abadb3;
$input-borderHover-color : #71cbef;
$input-borderReadonly-color : #eeeeee #f5f5f5 #f5f5f5 #eeeeee;
$input-bgReadonly-color : #ffffff;
// readonly

// style
$shadow-input : 0 0 5px rgba(82, 168, 236, 0.5);
$shadow-pagination : 0 0 3px rgba(204, 204, 204, 0.5);

// bg use #{$bgBar}
$bgBar : $css_images-shopnc + 'bgBar.png';
$bgForm : $css_images-shopnc +'bgForm.png';
$bgSky : $css_images-shopnc +'bgSky.gif';
$bgFormOnoff : $css_images-shopnc +'bgFormOnoff.png';
$bgSkyLogo : $css_images-shopnc +'bgSkyLogo.png';
$bgSkyLeft : $css_images-shopnc +'bgSkyLeft.png';
$bgSkyBody : $css_images-shopnc +'bgSkyBody.png';
$bgSkyButtonGif : $css_images-shopnc +'bgSkyButton.gif';
$bgSkyPrompt : $css_images-shopnc +'bgSkyPrompt.gif';
$bgSkyButtonPng : $css_images-shopnc +'bgSkyButton.png';



