/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.7.1
 *
*/

// Variables, Mixins
@import "backend/variables";
@import "backend/mixins";

// INSPINIA Theme Elements
@import "backend/typography";
@import "backend/navigation";
@import "backend/top_navigation";
@import "backend/buttons";
@import "backend/badges_labels";
@import "backend/elements";
@import "backend/sidebar";
@import "backend/base";
@import "backend/pages";
@import "backend/chat";
@import "backend/metismenu";
@import "backend/spinners";

// Landing page styles
@import "backend/landing";

// RTL Support
@import "backend/rtl";

// For demo only - config box style
@import "backend/theme-config";

// INSPINIA Skins
@import "backend/skins";
@import "backend/md-skin";

// Media query style
@import "backend/media";

// Custom style
// Your custom style to override base style
@import "backend/custom";

// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }
  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0;
  }
}
